* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    font-family: 'Roboto';
    flex-direction: column;
    border-width: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img.temple-img{
    width: 100%;
    border: 5px solid white;
    border-radius: 50px;
}

ul.links {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 10;
    padding: 0;
}

.header-links, .sub-hero {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header-links {
    padding: 4px;
    border: 2px solid white;
    border-radius: 10px;
}

.header-container {
    display: flex;
    flex-direction: column;
    padding: 16px 15vw;
    background-color: #1F2937;

}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    flex-shrink: 0;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10vh 0 10vh 0; 
}

.hero-container {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 0 0;
    width: 50%;
    flex: 1;
}

.hero{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    min-width: 200px;
}

.sub-hero {
    padding: 0 20px 0 0;
}

.header-img{
    display: flex;
    min-width: 200px;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

div.hero-button{
    display: flex;
    margin: 10px 0;
}

button.hero-button {
    background-color: #3882f6;
    border: transparent;
    padding: 8px;
    height: 2;
    border-radius: 10px;
}

a.hero-button {
    font-family: 'Roboto';
    color: white;
    font-size: 18px;
}

.mainInfo-container{
    display: flex;
    flex-direction: column;
    margin: 5vh 0 15vh 0;
}
.mainInfo-header{
    margin: 20px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    align-self: center;
}

.mainInfo-cities{
    display: flex;
    padding: 16px;
    gap: 58px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.mainInfo-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;
}


img.maininfo-img {
    height: auto;
    min-width: 200px;
    max-width: 300px;
    border: 5px solid #3882f6;
    border-radius: 30px;
}

.mainInfo-text{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    width: 255px;
    margin: 16px;
}

.qoute-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 40vh;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 32px;
    background-color: #E5E7EB;
    color: #1F2937;
}

.qoute-width{
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    justify-content: center;
}

.qoute {
    display: flex;
    padding: 10px;
    font-size: 36px;
    font-family: 'Open Sans';
    font-weight: lighter;
    font-style: italic;
}

.qoute-author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
}

.signUp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    padding: 64px;
    
}

.signUp-banner{
    display: flex;
    font-size: 24px;
    background-color: #3882f6;
    border-radius: 10px;
    min-width: 75%;
    padding: 5vh 10vw;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.signUp-text{
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: 900;
    color: #E5E7EB;
    padding: 16px;
    min-width: 200px;
    flex: 1 0 300px;
}

.signUp-subtext{
    display: flex;
    font-weight: 400;
    font-size: 24px;
}

.signUp-buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    flex: 1 0 auto;
}

.signUp-button{
    display: flex;
    background-color: transparent;
    color: #E5E7EB;
    font-size: 24px;
    padding: 8px;
    min-width: 20px;
    border: transparent;
    border-radius: 10px;
    border: solid 2px #E5E7EB;
    cursor: pointer;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 3vh 0 3vh 0;
}

.footer-text{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}